@import 'footer.css';

/* HEADER CSS */

header {
    display: flex;
    background-color: #FFCCCC;
    justify-content: space-between;
    padding: 10px;
}

header a {
    width: auto;
}

header img {
    max-width: 40px;
}

/* CAROUSEL CSS */
#myCarousel {
    margin-top: 60px;
}

.carousel-item img {
    width: 100%;
}

/* STYLES-MENU CSS */

.row {
    flex-direction: row;
}

/* FREIGHT LINE */

.freight {
    display: flex;
    background-color: #FFCCCC;
    justify-content: space-between;
}

.freight img {
    max-width: 40px;
}

.freight .col-2 {
    width: auto;

}

/* GENERAL */

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col-3 {
    padding-right: 7px;
    padding-left: 7px;
}

/* FEED */

.feed {
    display: grid;
}

.feed .col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item img {
    width: 50%;
}