@import 'footer.css';

html, body {
    height: 100%;
}

header {
    display: flex;
    background-color: #FFCCCC;
    justify-content: center;
    padding: 10px;
}

body {
    align-items: center;
    justify-content: center;
	display: flex;
    flex-direction: column;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
}

img {
    max-width: 50px;
}

.category {
    min-width: 300px;

    margin: 10px;
    padding: 8px;
    border-bottom: 5px solid black;
    border-radius: 10px;
}

.category a {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-decoration: none;
    color: black;
}

a div {
    display: flex;
    justify-content: center;
    align-items: center;
}