@import 'footer.css';

/* HEADER CSS */

header {
    display: flex;
    background-color: #FFCCCC;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    height: 40px;
}

.error {
    margin-top: 35px;
}

header a {
    width: auto;
}

header img {
    max-width: 30px;
}

header input {

    background-color:#FFCCCC;
    background-image: url('../images/search.png');
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    width:200px;
    height:30px;
    border-radius:15px;
    border:0;
    outline:0;
    padding-left:30px;
    transition: all .3s;
}

header form {
    padding-top: 15px;
}

header input:focus {
    width:250px;
    background-color: #ffefef;
}

/* CAROUSEL CSS */
#myCarousel {
    margin-top: 35px;
}

.carousel-item img {
    width: 100%;
}

/* STYLES-MENU CSS */

.row {
    flex-direction: row;
}

/* FREIGHT LINE */

.freight {
    display: flex;
    background-color: #FFCCCC;
    justify-content: space-between;
}

.freight img {
    max-width: 40px;
}

.freight .col-2 {
    width: auto;

}

/* GENERAL */

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col-3 {
    padding-right: 7px;
    padding-left: 7px;
}

/* ROW CATEGORY */

.row .col-3 a {
    color: black;
    text-decoration: none;
}

/* FEED */

.feed {
    display: grid;
}

.feed .col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feed a {
    color: black;
    text-decoration: none;
}

.item img {
    width: 50%;
}

/* SEARCH */

.search-feed {
    margin-top: 65px;
}